        main{
            padding: 50px;
            color: rgb(57, 127, 255);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        canvas{
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
            margin: 20px;
        }