        main{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .contenedor{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .video{
            margin: 20px;
            text-align: center;
            background-color: rgb(224, 235, 235);
            padding: 2em;
            border-radius: 30px;
        }
        video{
            box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.473);
            border-radius: 10px;
        }
        h1{
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: #333;
        }
        .audio{
            margin: 20px;
            text-align: center;
        }
        audio{
            border-radius: 20px;
        }
        .contenedor2{
            text-align: center;
            margin-top: 50px;
        }
        input{
            font-size: 15px;
            margin: 10px;
            height: 40px;
            padding: 5px 15px;
            border-radius: 10px;
            cursor: pointer;
        }