body {
    background-color: #fffdf5;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('/Cuaderno_DIW/img/corchoCuaderno.jpg'); 
    background-size: cover;
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuaderno {
    width: 80%;
    max-width: 60em;
    height: 80%;
    margin: 3em auto;
    padding: 2em;
    background-color: #ffffff;
    border-left: 0.3em solid #2a3886;
    background-size: 100% 2.5em; /*Líneas tipo cuaderno */
    background-image: linear-gradient(to bottom, #fffdf5 95%, #e6e6e6 100%);
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.575);
}

header {
    text-align: center;
    margin-bottom: 2em;
}

header h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    font-family: "Caveat Brush";
}

header h2 {
    font-size: 1.2em;
    color: #666;
    margin-top: 0;
    font-family: "Caveat Brush";
    font-weight: lighter;
}

.autores {
    font-style: italic;
    color: #555;
    margin-top: 0.5em;
    font-family: "Caveat Brush";
    font-weight: lighter;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    font-size: 1.3em;
}

.botones {
    text-align: center; 
    margin-top: 2em;
}

.botones a {
    display: inline-block; 
    margin: 0.5em;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: "Caveat Brush";
    color: #2e24bd;
    font-size: 2em;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #2e24bd;
}

.cuaderno img {
    width: 10em;
    position: absolute;
    top:0;
    right: 45%;
}
