body {
    background-color: #ebc326;
    color: #333;
    margin: 0;
    background-image: url('/Cuaderno_DIW/img/corchoCuaderno.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    justify-items: center;
}

h3{
    font-family: "Caveat Brush";
    font-size: 3em;
    color: #d8291d;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: left;
    margin-left: 1em;
}

.cuaderno {
    position: relative;
    width: 40%;
    height: auto;
    min-width: 500px;
    margin-top: 100px;
    padding: 2em;
    background-color: #ffffff;
    border-left: 0.3em solid #1a38e2;
    background-size: 100% 2.5em;
    background-image: linear-gradient(to bottom, #fffdf5 95%, #e6e6e6 100%);
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.575);
}

header {
    text-align: center;
    margin-bottom: 2em;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-family: "Caveat Brush";
}

header h2 {
    font-size: 1.2em;
    color: #666;
    margin-top: 0;
    font-family: "Caveat Brush";
    font-weight: lighter;
}

.autores {
    font-style: italic;
    color: #555;
    margin-top: 0.5em;
    font-family: "Caveat Brush";
    font-weight: lighter;
    font-size: 1.5em;
}


.botones {
    text-align: center; 
    margin-top: 2em;
}

.botones a {
    display: inline-block; 
    margin:0;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0.2em;
    font-size: 0.5em;
    font-family: "Caveat Brush";
    color: #2e24bd;
    font-size: 2em;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #2e24bd;
}

.cuaderno img {
    width: 8em;
    position: absolute;
    top:-50px;
    right: 40%;
    filter:drop-shadow(2px 10px 5px rgba(0, 0, 0, 0.384))
}


.actividades{
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 1em;
}