
        body {
            margin: 0;
            padding: 0 ;
            font-family: Arial, sans-serif;
            margin: 0;
        }

        h2{
            text-align: center;
            padding: 10px;
            margin: 0;
            margin-right: 2em;
        }

        .header {
            background: linear-gradient(90deg, rgb(35, 35, 202), rgb(202, 161, 248));
            color: white;
            padding: 0 20px;
            box-shadow: 5px 5px 10px 5px rgba(0, 0, 2, 0.432);
        }

        .menu-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex; 
        }

        .menu-item {
            position: relative;
        }

        .menu-link {
            display: block;
            padding: 15px 20px;
            text-decoration: none;
            color: white;
            transition: background-color 0.3s;
        }

        .menu-link:hover {
            background-color: #ffffff;
            color: #333;
        }

        .submenu-list {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute; 
            top: 100%; 
            left: 0;
            background-color: #444; 
            min-width: 180px; 
            z-index: 10; 
            display: none;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        }

        .menu-item:hover .submenu-list {
            display: block;
        }

        .submenu-link {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: white;
            transition: background-color 0.3s;
        }


.submenu-link:hover {
    background-color: rgb(35, 35, 202)
}


.descripcion-item{
    background-color: #241d64b6; 
    margin-left: auto;
    margin-right: 5em;
    width: 420px;       
    border-radius: 8px;    
}

.descripcion-content {
    padding: 15px; 
    max-width: 400px; 
    white-space: normal;
    text-align: left;
}

.descripcion-content p {
    margin: 0;
    color: white;
}

a{
    text-decoration: none;
}

a h1{
    color: white;
    font-size: 1.4em;
    margin-bottom: 0;
    margin-right: 1em;
}

a h1:hover{
    color: #71afb8;
}