
.caja-fondo-claro {
    background-color:lightgrey;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.caja-gris-fijo{
    background-color:dimgray;
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.caja-blanca{
    background-color: white;
    position: absolute;
    width: 50vw;
    height: 50vh;
    top:20%;
    left: 25%;
    z-index: 1;    
}

.caja-gris-base{
    background-color: rgb(61, 61, 61);
    position: absolute;
    width: 50vw;
    height: 15vh;
    bottom: 0;
    z-index: 2;
}

.caja-amarilla {
    background-color: rgba(208, 255, 0, 0.4);
    width: 40vw;
    height: 30vh;
    z-index: 3;
    position: relative;
    top:15%;
    left: 5%;
    border: 1px solid yellow;
}

.caja-rosa {
    background-color: pink;
    width: 5vw;
    height: 10vh;
    z-index: 4;
    position:absolute;
    top: 18%;
    left:6%;
    border: 2px dashed red;
}

.caja-azul {
    background-color: rgba(0, 255, 255, 0.662);
    width: 10vw;
    height: 50vh;
    float: right;
    z-index: 4;
    position: relative;
    border: 1px solid blue;
    bottom: 61%;
}

.caja-roja{
    background-color: red;
    color: white;
    width: 5vw;
    height: 3vh;
    left: 65%;
    z-index: 4;
    position: relative;
    border: 1px solid brown;
    bottom: 50%;
    text-align: center;
}