body{
    padding:0;
    margin: 0;
}

.div_gris_fondo{
    background-color: rgb(207, 207, 207);
    width: 100vw;
    height: 60vw;
    margin:0;
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
}

.div_blanco{
    background-color: white;
    width: 50%;
    height: 30vw;
    position: relative;
    float: top;
    margin-top: 5em;
    margin-left: 20%;
}

.div_amarillo{
    width: 87%;
    height: 75%;
    background-color: rgba(255, 239, 96, 0.712);
    border: 1px solid rgba(255, 196, 0, 0.877);
    position: absolute;
    float:left;
    margin: 2em;
    z-index: 10;
}

.div_negro{
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: rgb(34, 34, 34);
    bottom: 0;
    z-index: 4;
    border-top: 3px solid red;

}

.div_rosa{
    background-color: rgba(238, 87, 175, 0.397);
    border: rgb(180, 0, 60) dashed 2px;
    width: 7em;
    height: 7em;
    position: absolute;
    z-index: 45;
        float:left;
    margin: 3em;
}

.div_azul{
position: relative;
background-color: rgba(0, 153, 255, 0.438);
border-right: 2px solid rgba(0, 153, 255, 0.856);
border-top: 2px solid rgba(0, 153, 255, 0.856);

height: 100%;
width: 10em;
float: right;
z-index: 30;
}

.div_hover{
background-color: rgba(255, 0, 0, 0.767);
position: absolute;
padding: 1em;
z-index: 50;
top: 1em;
right: 20%;
}

.div_hover p {
    color: white;
}

.div_footer{
    background-color: rgb(29, 31, 37);
    height: 7em;
    width: 100%;
    position: absolute;
    bottom: 0;
}
