main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    gap: 20px;
    padding: 3em;
    background-color: rgb(224, 231, 231);
}

.uno {
    background-color: #A3A3A3;
    color: #1F1FFF
}

.dos {
    background-color: #B8B8B8;
    color: #000047;
}

.uno,
.dos {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 3em;
}

.actividad {
    min-width: 400px;
    width: 60%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
    padding: 1em;
    background-color: white;
}

.actividad .enunciado {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #000047;

}

h4 {
    margin: 0;
    font-size: 1.5em;
    color: #d6a400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.respuesta {
    margin-top: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: #333333;
}

img {
    width: 45%;
    margin: 0.5em;
}

code {
    background-color: #f3eded;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}